section#About{
			text-align: center;
			padding:100px;
			margin: 20px;
			}
		section#About  > div{
			margin: 0 auto;
			height: 120px;
			width: 120px;
			border-radius: 60px;
			}
		section#About  > div > img{
				object-fit:cover;
				height: 120px;
				width: 120px;
				border-radius: 60px;
				border: 2px solid white;
			}
		 	ul.objects{
				display: flex;
				gap: 20px;
				margin: auto;	
				}
			section#About  > p{
				margin: 20px;	
				}