div.container2{
			display: grid;
			grid-template-columns: repeat(2, 400px);
			align-items: center;
			justify-content: center;
			margin: 30px;
			padding: auto;
			}
			
			.container2{
				position: aboslute;
				margin: auto;
			}

			.play-button{
			 position: relative;
			 center: -100px;
			 top: -200px;
			 border: 1px solid #000000;
			 border-radius: 50%;
			 right: 0px;
			 left: 170px;
			}
			
		div.small-container{
			width: 480px;
			background-color: white;
			height: 100px;
			margin-top:-80px;
			gap:  100px;
			border: 20px;
			justify-items: space-between;
			}
			